@model Coursach.Parent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parent_FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent_FIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Podrazdelenie.Podrazdelenie_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Podrazdelenie.Podrazdelenie_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Tabel_number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
