@model IEnumerable<Coursach.Kids__Personal_Account>

@{
    ViewBag.Title = "Index";
}

<h2>Список родителей по детсаду</h2>

<p>
    @Html.ActionLink("Создать", "Create") | 
    <a href="~/Parents/Create">Добавить Родителя</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kid_Garden.Kid_Garden_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kid_FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent.Parent_FIO)
        </th>
        <th>Подсчёт суммы</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kid_Garden.Kid_Garden_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kid_FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent.Parent_FIO)
        </td>
        <td>
            <a href="~/Visit_Tabel/Index/@item.ID_Personal_Account">In Total</a>
          
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Personal_Account },new { @class = "links" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Personal_Account }, new { @class = "links" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Personal_Account },new { @class = "links" })
        </td>
    </tr>
}

</table>
