@model Coursach.Kid_Garden

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kid_Garden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kid_Garden_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kid_Garden_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pay_Sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pay_Sum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Kid_Garden_Number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
